In [ ]:
# !pip install pandas
# !pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.19.5 in /home/vscode/.local/lib/python3.12/site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 4.4 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.2/40.2 MB 1.6 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

In [15]:
import pandas as pd
from sklearn.metrics import roc_auc_score

# Load Train and Test

In [30]:
train = pd.read_csv('data/train.csv')

In [4]:
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [5]:
train.shape

(165034, 14)

In [16]:
test = pd.read_csv('data/test.csv')

# Data Investigation

In [31]:
train.isnull().sum()

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [28]:
train.shape

(165034, 14)

In [32]:
train.dtypes

id                   int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

# Label Encode Categorical Features

In [21]:
RMV = ['id', 'CustomerId', 'Surname', 'Exited']
FEATURES = [c for c in train.columns if not c in RMV]
combined = pd.concat([train,test], axis=0, ignore_index=True)

In [22]:
CATS = []

for c in FEATURES:
    ftype = 'numerical'
    if combined[c].dtype == 'object':
        CATS.append(c)
        ftype = 'categorical'
    if combined[c].dtype == 'int64':
        combined[c] = combined[c].astype('int32')
    elif combined[c].dtype == 'float64':
        combined[c] = combined[c].astype('float32')

In [23]:
train = combined.iloc[:len(train)].copy()
test = combined.iloc[len(train):].reset_index(drop=True).copy()

In [24]:
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.000000,2,1.0,0.0,181449.968750,0.0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.000000,2,1.0,1.0,49503.500000,0.0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.000000,2,1.0,0.0,184866.687500,0.0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.546875,1,1.0,1.0,84560.882812,0.0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.000000,2,1.0,1.0,15068.830078,0.0

# Train Models

# Compute CV Score

In [ ]:
# roc_auc_score(y, clf.predict_proba(X)[:, 1])
# roc_auc_score(y, clf.decision_function(X))

# Create Submission CSV

In [8]:
# submission = pd.read_csv('data/sample_submission.csv')
# submission.head()
# submission.to_csv('data/submission.csv', index=False)

Goal:
- Predict bank customer churn

To Do:
- Train/Test split
- Review feature distributions
- Preprocessing
- Encode categorical variables
- Scale variables?
- Drop features that aren't predictive
- Label Target variable (Exited)
- AUC ROC is the evaluation metric
- Estabilish baseline model (avg?)
- Evaluation framework
- Using best model make predictions
- Submit predictions